/* normal style */

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

body {
	text-rendering: optimizeLegibility;
	font: 100%/1.5 '微软雅黑', '宋体', Arial, sans-serif;
	background-color: #eee;
}

body, input, button {
	-webkit-font-smoothing: antialiased;
}

h1 { font-size: 2em;    /* 2*16 = 32 */       }
h2 { font-size: 1.5em;  /* 1.5*16 = 24 */     }
h3 { font-size: 1.17em; /* 1.17*16 = 18.72 */ }
h4 { font-size: 1em;    /* 1*16 = 16 */       }
h5 { font-size: 0.83em; /* 0.83*16 = 13.28 */ }
h6 { font-size: 0.75em; /* 0.75*16 = 12 */    }

p {
	font-size: 1em;
	line-height: 1.5;
	letter-spacing: 0.0625em;
    margin: 0 0 1em;

	//word break
	word-break: break-all;
	/* Non standard for webkit */
	word-break: break-word;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

ul {
	list-style: none;
}

hr {
	height: 1px;
	border-width: 0;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #eee;
}

a, a:visited {
	color: #333;
	text-decoration: none;
}
 
a:hover {
	text-decoration: none;
}

a:active { color: #333; }

a:focus { border: 1px dotted #333; }


strong  { font-weight: bold; }
em { font-style: italic; }

code, pre {
	font-family: monospace, serif;
	font-size: 1em;
}

blockquote {
	font-style: italic; 
}
 
blockquote:before { 
	content: "\201C";
	display: inline-block;
	padding-right: .4em;
}


/* header style */

.header {
	height: 3rem;
	padding: 0 50px;
	background-color: #fff;
}

.header .navbar {
	height: 100%;
}

.header .navbar .group {
	height: 100%;
}

.header .navbar .group > * {
	color: #fff;
	padding: 0 5px;
	line-height: 3rem;
}

.header .navbar .group a,
.header .navbar .group a:visited {
	color: #555;
	text-decoration: none;
}
 
.header .navbar .group a:hover {
	//text-shadow: 0 1px 1px #fff;
}

.header .navbar #logo,
.header .navbar #links {
	float: left;
}

.header .navbar #logo {
	width: 100px;
}

.header .navbar #links {
	width: 200px;
}

.header .navbar #account {
	float: right;
	display: inline-block;
	position: relative;
	background-color: #4db038;
}

.header .navbar #account .menu {
	width: 150px;
	background-color: #53944c;
	color: #555;
	box-shadow: 0 2px 2px 0 #ddd;
	position: absolute;
	z-index: 999;
	top: 3rem;
	right: 0;
}
